@media (max-width: 760px) {
    .container{
        border-radius: 0;
        margin: 0;
    }

    .container .imagem-receita {
        margin: 0;
    }

    .container .imagem-receita img {
        border-radius: 0;
    }
}